{
  "env": {
    "node": true
  },
  "extends": "airbnb-base/legacy",
  "rules": {
    "vars-on-top": 0,
    "func-names": 0,
    "object-shorthand": 0,
    "comma-dangle": 0,
    "curly": [1, "all"],
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "no-nested-ternary": 0,
    "new-cap": 2,
    "no-undef": 2,
    "valid-jsdoc": 2,
    "no-unneeded-ternary": 1,
    "no-empty-pattern": 2,
    "no-param-reassign": 0,
    "no-spaced-func": 1,
    "prefer-template": 0,
    "keyword-spacing": 1,
    "space-before-blocks": 1,
    "object-curly-spacing": [1, "always"],
    "max-len": 0,
    "indent": [1, 2],
    "radix": 0,
    "space-before-function-paren": 0
  }
}
